<RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" class="mt-2 mb-4" Text="Add New Model Type"
    Click="@InsertRow" Disabled=@(ModelToInsert != null || ModelToUpdate != null) />


<RadzenDataGrid @ref="ModelsGrid" AllowAlternatingRows="true" AllowFiltering="true" AllowPaging="true" PageSize="5"
    AllowSorting="true" EditMode="DataGridEditMode.Single" Responsive="true" Data="@Models" TItem="ModelResponse"
    RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow" Sort="@Reset" Page="@Reset" Filter="@Reset" ColumnWidth="200px">
    <EmptyTemplate>
        <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No records to display.</p>
    </EmptyTemplate>
    <Columns>
        <RadzenDataGridColumn TItem="ModelResponse" Property="Name" Title="Name">
            <EditTemplate Context="Model">
                <RadzenTextBox @bind-Value="Model.Name" Style="width:100%; display: block" Name="Name" />
                <RadzenRequiredValidator Text="Name is required" Component="Name" Popup="true" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ModelResponse" Property="BrandId" Title="Brand" Width="220px">
            <Template Context="Model">
                @(Brands.SingleOrDefault(x=>x.Id== Model.BrandId)!.Name ?? "")
            </Template>
            <EditTemplate Context="Model">
                <RadzenDropDown @bind-Value="Model.BrandId" Data="@Brands" ValueProperty="Id" Style="width:100%; display: block;">
                    <Template>
                        @context.Name
                    </Template>
                </RadzenDropDown>
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ModelResponse" Property="TypeId" Title="Type" Width="220px">
            <Template Context="Model">
                @(VehicleTypes.SingleOrDefault(x=>x.Id== Model.TypeId)!.Name ?? "")
            </Template>
            <EditTemplate Context="Model">
                <RadzenDropDown @bind-Value="Model.TypeId" Data="@VehicleTypes" ValueProperty="Id" Style="width:100%; display: block;">
                    <Template>
                        @context.Name
                    </Template>
                </RadzenDropDown>
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ModelResponse" Property="Year" Title="Year">
            <EditTemplate Context="Model">
                <RadzenNumeric @bind-Value="Model.Year" Style="width:100%; display: block" Name="Year" />
            </EditTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="ModelResponse" Context="Model" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="156px">
            <Template Context="Model">
                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat"
                              Size="ButtonSize.Medium" Click="@(args => EditRow(Model))" @onclick:stopPropagation="true">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat"
                              Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(Model))"
                              @onclick:stopPropagation="true">
                </RadzenButton>
            </Template>
            <EditTemplate Context="Model">
                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat"
                              Size="ButtonSize.Medium" Click="@((args) => SaveRow(Model))">
                </RadzenButton>
                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat"
                              Size="ButtonSize.Medium" class="my-1 ms-1" Click="@((args) => CancelEdit(Model))">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat"
                              Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1"
                              Click="@(args => DeleteRow(Model))">
                </RadzenButton>

            </EditTemplate>
        </RadzenDataGridColumn>
    </Columns>

</RadzenDataGrid>






