

<RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" class="mt-2 mb-4" Text="Add New Vehicle"
Click="@InsertRow" Disabled=@(vehicleToInsert != null || vehicleToUpdate != null) />


<RadzenDataGrid @ref="vehiclesGrid" AllowAlternatingRows="true" AllowFiltering="true" AllowPaging="true" PageSize="5"
                AllowSorting="true" EditMode="DataGridEditMode.Single" Responsive="true" Data="@vehicles" TItem="VehicleResponse"
                RowUpdate="@OnUpdateRow"  RowCreate="@OnCreateRow" Sort="@Reset" Page="@Reset" Filter="@Reset" ColumnWidth="200px">
    <EmptyTemplate>
        <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No records to display.</p>
    </EmptyTemplate>
    <Columns>
        <RadzenDataGridColumn TItem="VehicleResponse" Property="PlateNumber" Title="Plate Number" Frozen="true">
            <EditTemplate Context="vehicle">
                <RadzenTextBox @bind-Value="vehicle.PlateNumber" Style="width:100%; display: block"
                               Name="PlateNumber" />
                <RadzenRequiredValidator Text="PlateNumber is required" Component="PlateNumber" Popup="true" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="VehicleResponse" Property="Type" Title="Type">
            <EditTemplate Context="vehicle">
                <RadzenDropDown Data="Types" @bind-Value="vehicle.Type" Style="width:100%; display: block"
                                Name="Type" />
                <RadzenRequiredValidator Text="Type is required" Component="Type" Popup="true" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="VehicleResponse" Property="Brand" Title="Brand">
            <EditTemplate Context="vehicle">
                <RadzenTextBox @bind-Value="vehicle.Brand" Style="width:100%; display: block" Name="Brand" />
                <RadzenRequiredValidator Text="Brand is required" Component="Brand" Popup="true" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="VehicleResponse" Property="Model" Title="Model">
            <EditTemplate Context="vehicle">
                <RadzenTextBox @bind-Value="vehicle.Model" Style="width:100%; display: block" Name="Model" />
                <RadzenRequiredValidator Text="Model is required" Component="Model" Popup="true" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="VehicleResponse" Property="Status" Title="Status">
            <EditTemplate Context="vehicle">
                <RadzenDropDown Data="Status" @bind-Value="vehicle.Status" 
                                Name="Status" />
                <RadzenRequiredValidator Text="Status is required" Component="Status" Popup="true" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="VehicleResponse" Property="Deleted" Title="Deleted" Filterable="true" FilterProperty="Deleted" >
            <Template Context="vehicle">
               @(vehicle.Deleted ? "Yes":"No")
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="VehicleResponse" Context="vehicle" Filterable="false" Sortable="false"
                              TextAlign="TextAlign.Right" Width="156px">
            <Template Context="vehicle">
                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat"
                              Size="ButtonSize.Medium" Click="@(args => EditRow(vehicle))" @onclick:stopPropagation="true">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat"
                              Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1"
                              Click="@(args => DeleteRow(vehicle))" @onclick:stopPropagation="true" Visible="!vehicle.Deleted">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Warning" Icon="restore_from_trash" Variant="Variant.Flat"
                              Shade="Shade.Darker" Size="ButtonSize.Medium" class="my-1 ms-1" Visible="vehicle.Deleted"
                              Click="@(args => ResoreRow(vehicle))">
                   
                </RadzenButton>
            </Template>
            <EditTemplate Context="vehicle">
                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat"
                              Size="ButtonSize.Medium" Click="@((args) => SaveRow(vehicle))">
                </RadzenButton>
                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat"
                              Size="ButtonSize.Medium" class="my-1 ms-1" Click="@((args) => CancelEdit(vehicle))">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Visible="!vehicle.Deleted"
                              Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" 
                              Click="@(args => DeleteRow(vehicle))">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Warning" Icon="restore_from_trash" Variant="Variant.Flat"
                              Shade="Shade.Darker" Size="ButtonSize.Medium" class="my-1 ms-1" Visible="vehicle.Deleted"
                              Click="@(args => ResoreRow(vehicle))">

                </RadzenButton>
            </EditTemplate>
        </RadzenDataGridColumn>
    </Columns>

</RadzenDataGrid>


